//variables

$blue : #597cc2;
$darkBlue : darken($blue, 30%);
$green: #59c296;

body{
  background: white;
}

//reusable components
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.text-centered{
  text-align: center;
}

.container-fluid {
  margin: 15px;
}

.header-home{
  background-color: $darkBlue;
  text-align: center;
  padding: 30px 0;
  h1{
    margin: 0;
    color: white;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    margin: 0 15px;
  }
}

.list-unstyled {
  padding: 0;
  list-style: none;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 0;
  &.responsive{
    @media only screen and(max-width: 768px){
      grid-template-columns: 1fr;
    }
  }
}

//specific components
.search-select{
  margin: 15px 0 0;
  display: flex;
  // align-items: center;
  justify-content: center;
  #searchForm{
    box-sizing: border-box;
    height: 30px;
    width: 250px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    @media only screen and(max-width: 768px) {
      width: 150px;

    }
  }
  select{
    box-sizing: border-box;
    border: none;
    background-color: darken(white, 10%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 8px;
    cursor: pointer;
  }
}

.pagination-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;
  a{
    text-decoration: none;
    color: white;
    background-color: $green;
    margin-right: 10px;
    padding: 6px 10px;
    border-radius: 4px;
    min-width: 50px;
    text-align: center;
    &.disabled{
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

.facilities-list {
  li {
    display: inline-block;
    background-color: $blue;
    color: white;
    padding: 4px 6px;
    border-radius: 30px;
    margin-right: 4px;
  }
}

.main-banner {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

.property-list-container {
  .leaflet-container {
    height: 100vh;
    @media only screen and (max-width: 768px){
      height: 50vh;
    }
  }
}

.property-card {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  &:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
  }

  .img-container {
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

  }

  .property-desc {
    margin: 15px;

    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .desc {
      height: 45px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.city-row{
  margin: 0 15px;
  color: $blue;
  p{
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  .paper-plane-icon{
    width: 15px;
    margin-right: 5px;
  }
}

.button-row{
  margin: 0 15px 15px;
  text-align: right;
  .link-button{
    padding: 4px 16px;
    color: white;
    background-color: $blue;
    border-radius: 4px;
    text-decoration: none;
  }
}

//modification of slick slide components
.slider-wrapper{
  margin: 30px 0;
  .slick-slider {
    img{
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: calc(100% - 15px);
      height: 300px;
      object-fit: cover;
    }
    
  }

  .slick-prev, .slick-next {
    z-index: 1;
    width: auto;
  }

  .slick-prev{
    margin-left: -5px;
  }

  .slick-next{
    margin-right: -5px;
  }
  
  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 35px;
    line-height: 1;
    opacity: 1;
    color: #252525;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    border-radius: 100%;
  }
  
}
