//variables

$blue : #597cc2;
$darkBlue : darken($blue, 30%);

//reusable components
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  margin: 15px;
}

.header-home{
  background-color: $darkBlue;
  text-align: center;
  padding: 30px 0;
  h1{
    margin: 0;
    color: white;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    margin: 0 15px;
  }
}

.list-unstyled {
  padding: 0;
  list-style: none;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 0;
}

//specific components
.search-select{
  display: flex;
  // align-items: center;
  justify-content: center;
}

.facilities-list {
  li {
    display: inline-block;
    background-color: $blue;
    color: white;
    padding: 4px 6px;
    border-radius: 30px;
    margin-right: 4px;
  }
}

.main-banner {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

.property-list-container {
  .leaflet-container {
    height: 100vh;
  }
}

.property-card {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  &:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
  }

  .img-container {
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

  }

  .property-desc {
    margin: 15px;

    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .desc {
      height: 45px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.city-row{
  margin: 0 15px;
  color: $blue;
  p{
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  .paper-plane-icon{
    width: 15px;
    margin-right: 5px;
  }
}

.button-row{
  margin: 0 15px 15px;
  text-align: right;
  .link-button{
    padding: 4px 16px;
    color: white;
    background-color: $blue;
    border-radius: 4px;
    text-decoration: none;
  }
}